In [1]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [2]:
print(basket)

{'pear', 'orange', 'apple', 'banana'}

In [17]:
a = set("abcgdhadakds")

In [18]:
a

{'a', 'b', 'c', 'd', 'g', 'h', 'k', 's'}

In [20]:
a.add("z")

In [21]:
a

{'a', 'b', 'c', 'd', 'g', 'h', 'k', 's', 'z'}

In [27]:
# frozonset is a type of set that is immutable
ss = frozenset(set("sdkjksjdkjopiuytrefdg"))

In [28]:
ss

frozenset({'d',
           'e',
           'f',
           'g',
           'i',
           'j',
           'k',
           'o',
           'p',
           'r',
           's',
           't',
           'u',
           'y'})

In [44]:
print(type(235.0j))
print(type(25.0554))

<class 'complex'>
<class 'float'>

### List Data type

In [45]:
list = [123,'abcd',10.2,'d']    #can be an array of any data type or single data type. 
list1 = ['hello','world']

In [47]:
print(list)
print(list[:2])
print(list*2)
print(list+list1)

[123, 'abcd', 10.2, 'd']
[123, 'abcd']
[123, 'abcd', 10.2, 'd', 123, 'abcd', 10.2, 'd']
[123, 'abcd', 10.2, 'd', 'hello', 'world']

### Dictionary Data type

In [51]:
dic = {'name':"Shoaib", "age":24}
print(dic,"\n")
print("Dic items : ",dic.items())
print("dic keys : ",dic.keys())
print("dic values : ",dic.values())

{'name': 'Shoaib', 'age': 24}

Dic items :  dict_items([('name', 'Shoaib'), ('age', 24)])
dic keys :  dict_keys(['name', 'age'])
dic values :  dict_values(['Shoaib', 24])

### Tuples Data types

In [53]:
tuple = (1,10,"Hello","python")
tuple1 = ("Shoaib","Java")
print(tuple)
print(tuple[2])
print(tuple+tuple1)

(1, 10, 'Hello', 'python')
Hello
(1, 10, 'Hello', 'python', 'Shoaib', 'Java')

In [54]:
tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

## Summary

* String Data Type
* Set Data Types
* Numbers data type
* List Data Type
* Dic Data Type
* tuples Data type